<div class="gallery">
  {% assign project = site.projects | where: "slug", include.slug | first %}
  {% if project %}
    <h2>{{ include.title }}</h2>
    <div class="gallery-images">
      {% if project.thumbnail %}
        <a href="{{ project.url }}">
          <img src="{{ project.thumbnail | relative_url }}?v={{ site.time | date: '%s' }}" alt="{{ project.title }} thumbnail">
        </a>
      {% endif %}

      {% assign images_path = "assets/projects/" | append: include.slug | append: "/" %}
      {% assign images = site.static_files | where_exp: "file", "file.path contains images_path" %}
      {% for image in images %}
        <a href="{{ image.path | relative_url }}">
          <img src="{{ image.path | relative_url }}?v={{ site.time | date: '%s' }}" alt="{{ project.title }} image {{ forloop.index }}">
        </a>
      {% endfor %}
    </div>
  {% endif %}
</div>
